@import "toolkit";

.Game {
	position: relative;
	background-size: cover;
}

.CanvasMap {
	position: absolute;
	bottom: 20px; right: 20px;
	z-index: 3;
	pointer-events: none;
}

.CanvasGame {
	position: absolute;
	top: 0; left: 0;
	z-index: 2;
}

.CanvasScenery {
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
}
