@import "toolkit";

.Game {
	position: relative;
	background-size: cover;
}

.CanvasMap {
	position: absolute;
	bottom: 2px; right: 2px;
	z-index: 4;
	pointer-events: none;
    border-radius: 89px 48px 10px 34px;
    background: black;
    border-color: black;
    border-width: 0 18px 0 30px;
    border-style: solid;
}

.Mobile {
	.CanvasMap {
		position: absolute;
		top: 0; right: 0; bottom: auto;
		z-index: 4;
		pointer-events: none;
	    border-radius: 0;
	    background: rgba( 0,0,0,0.3 );
	    border: none;
	}
}

.CanvasGame {
	position: absolute;
	top: 0; left: 0;
	z-index: 3;
}

.CanvasParallax {
	position: absolute;
	top: 0; left: 0;
	z-index: 2;
}

.CanvasScenery {
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
}