/* app.scss */

@import "base";


body {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	> div {
		position: absolute;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
}